body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.kj{
color: red;
}

/* .cart .css-o69gx8-MuiCardMedia-root{
  width: 10% !important;
  height: 15% !important;
} */
.imgttt{
  width: 8% !important;
  height: 15% !important;
  margin-left: 6px !important;
}
html{
  overflow-y: scroll !important;
}
.row{
  border:4px solid #fff;
}